*{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    box-sizing:border-box;
}
.container{
    display:flex;
    flex-grow: 4;
    height: 480px;
    width:1316px;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-right: 30px;
    width: 255px;
    height: 370px;
    border-radius:9px;
    align-items: center;
    border-bottom:black; 
    border-style: solid;
    border-bottom-width: 0.13em;
}

.title {
    position: relative;
    display:flex;
    width:255px;
    height:27px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    padding-top: 1%;
    text-shadow: 0.2px .02px white, 0.5px 0.5px #333   
}

#c1 .title {
    background-color:#707070;
}

#c2 .title {
    background-color:#2F9D89;
}

#c3 .title {
    background-color:#0091BB; 
}

#c4 .title {
    background-color:#E2536B;
}

.content{
    width:255px;
    height:200px;
    text-align: center;
    position:relative;
    font-family: 'Roboto';
    color:	#383838;
    position :relative;
    background-color:#F2F2F2;
    line-height: 1.8;
    padding-top:30px;
    font-weight: 100;
    font-size: 0.9em;
}

.price{
    position: relative;
    width: 255px;
    height:144px;
    text-align: center;
    padding-top: 18%;
    color:#F2F2F2;
    font-family: Arial;   
}

#c1 .price {
    background-color:#979797;
}

#c2 .price {
    background-color:#3DB49E;
}

#c3 .price {
    background-color:#48AECB;
}

#c4 .price {
    background-color:#E78293;
}

.price span{    
    font-size: 50px;
    font-style: bold;
    text-shadow: 0.2px .02px white, 0.5px 0.5px #333;
}

.footer{
    width: 255px;
    height: 21px;
    text-align: center;
    padding-top: 2%;
    color:#F2F2F2;
    font-family: Arial;
    font-size: 13px;
}

#c1 .footer {
    background-color:#707070 ;
}

#c2 .footer {
    background-color:#2F9D89;
}

#c3 .footer {
    background-color:#0091BB ;
}

#c4 .footer {
    background-color:#E2536B ;
}

 .bottom-arrow::after {
    content:"";
    position: absolute;
    border-top: 9px solid #707070;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    margin-left: -10px;
    z-index: 1;
    
}

#c2 .bottom-arrow::after {
    border-top: 9px solid #2F9D89 ;
}

#c3 .bottom-arrow::after {
    border-top: 9px solid #0091BB ;
}

#c4 .bottom-arrow::after {
    border-top: 9px solid #E2536B;
}

.bottom-arrow1::after {
    content:" ";
    position: absolute;
    border-top: 9px solid #F2F2F2;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    margin-left: -10px;
    z-index: 1;
}